<h2>About</h2>

<p>
    I'll start with a little background. I graduated from University of Wisconsin-Eau Claire with a bachelor's in CS in 2010 and went on to work for a Home Improvement retail company Menards. In 2011, I moved to Colorado and worked at a company Amadeus Consulting for three years, before I decided to work remotely part-time for them while living back home in Wisconsin. It was nice being back home and spending time with family, but it also gave me time to work on personal projects in effort to learn front-end. The projects listed on this site are a couple that I feel proud of.
</p>

<h3>Moving Forward</h3>
<p>
    I recently moved to Richmond, CA and am now looking for a front-end/open source'y full-time position around the Bay Area. I have spent a lot of concentrated time learning what I could about front-end technologies, their best practices, and how they fit in the grand scheme of client/server-side development. I am happy to talk specific implementation details assuming they are scoped within the <a href="/my-stack">stack I've chosen to learn</a>. My ideal job would be creating user interfaces as I really enjoy working with a designer to produce great-looking UIs that are clean, intuitive, and fun to use. Having worked with a consulting company for three years however, I feel comfortable being thrown where needed most.
</p>

<h3>Side note</h3>
<p>
    In an attempt to sound less boring: If anyone reading this lives in the Bay Area, enjoys foosball, and doesn't already know about Thursday night foosball tournaments at
    <a href="https://www.google.com/maps?ll=37.804153,-122.415273&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=10795995370781290243">Kennedy's Irish Pub and Indian Restaurant</a>, then you should drop by and bring your A-game. Nineteen times out of twenty I will be there.
</p>
