<h2>Misc. Music Tool</h2>

<ul class="site-source-listing">
    <li>
        <a href="http://music.philipolsonm.com">Here is the website</a>
    </li>
    <li>
        <a href="https://github.com/olsonpm/misc-music-django">Here is the source</a>
    </li>
</ul>
<p>Over Christmas I wanted to work a little with one of my brothers who plays upright bass for UWEC jazz (I played cello -- our family is a mini orchestra). He provided some much-needed domain knowledge for the above tool. At first my goal was to write something for fun and take a brief stab at Python. The result of <a href="https://github.com/olsonpm/misc-music-scripts">that project can be found here</a>. I then asked myself how hard it would be to turn those scripts into a web application. Two and a half weeks later I had a working website that I'm proud of sharing.</p>

<p>In all honesty, the tool itself isn't very useful - as are most programs built in 3 weeks. The reason I'm happy with it is because I tackled a few issues in a relatively short period of time</p>

<ul>
    <li>Learned enough Python/Django to end up with an organized web app.</li>
    <li>Learned the relatively recent browser Web Audio API.</li>
    <li>Tried out bootstrap for the first time.</li>
</ul>

<p>Python is a straight forward language and bootstrap is just a css library so those weren't difficult to pick up. The Web Audio API on the other hand is very low-level and surprised me with how long it took to get sounds that weren't clicking, too loud, or overlapping. And of course the domain logic wasn't trivial. Overall I'm extremely pleased with the three-week project.</p>
