<h2>My Node Tools</h2>
<h3>Promise task runner</h3>
<ul class="site-source-listing">
  <li>
    <a href="https://github.com/olsonpm/promise-task-runner">Source</a>
  </li>
</ul>
<p>
  This is published on npm as promise-task-runner
</p>
<p>
  For those unfamiliar, a node task runner is mainly just a CLI gateway to javascript functions (the tasks) which have declared dependencies. They are commonly found in build tools such as gulp and grunt. My task runner is very similar to gulp's, but conceptually differs in how the dependencies are structured. There are also a few bits of functionality my task runner supports which aren't available in gulp.
</p>
<p>
  This is my first published npm package, and in attempt to battle the trend of poor documentation for open source projects, I've <a href="https://github.com/olsonpm/promise-task-runner/wiki">documented mine thoroughly</a>. I'm happy with the result because of the effort it took to create a sensible, intuitive API as well as supporting documentation allowing anyone to pick it up.
</p>
<h3>Yeoman Generators</h3>
<ul class="site-source-listing">
  <li>
    <a href="https://github.com/olsonpm/personal-yeoman-generators">Source</a>
  </li>
</ul>
<p>
  So after much thought about whether Yeoman was what I wanted in a scaffolder, I decided to go with it and not create my own. In order to get the flexibility I wanted, I needed to use a new feature that allows me to optionally compose many generators into one. That is why when you click on the source you'll see many small generators, each responsible for their portion of the project. What I ended up with feels like a mini framework. It's incredible to have a generic template allowing me to very quickly create small websites. The flexibility allows me to modify my stack - say if later I choose to go with koa instead of express then I just create a koa generator.
</p>
<p>
  In its current state, the template is extremely helpful for writing mockups from design concepts. To try it out, I <a href="http://dmv-redesign.herokuapp.com">created a quick mockup</a> of a <a href="http://www.joeldkelly.com/#/wisconsin-dmv-redesign/">friend's concept for a re-designed dmv website</a>.
</p>
