<h2>My Stack</h2>

<p>When I first moved out to CA without front-end experience, I looked at available jobs and realized companies tend not to ask for experience in a single stack, but more for experience in any of the common technologies available for a given stack. The major players in the stack I decided on are the following:</p>
<dl>
    <dt>PaaS</dt>
    <dd>Heroku</dd>
    <dt>Package manager</dt>
    <dd>Npm</dd>
    <dt>Server-side</dt>
    <dd>Nodejs</dd>
    <dt>Web Framework</dt>
    <dd>Express</dd>
    <dt>DB Server</dt>
    <dd>PostgreSQL</dd>
    <dt>Front-end Framework</dt>
    <dd>Angular</dd>
    <dt>Testing Framework</dt>
    <dd>Mocha+Chai</dd>
    <dt>Promise Library</dt>
    <dd>Bluebird</dd>
    <dt>Logging Framework</dt>
    <dd>Bunyan</dd>
    <dt>Build Tool</dt>
    <dd>Gulp (+Browserify)</dd>
    <dt>Collections Library</dt>
    <dd>Lazy.js</dd>
    <dt>Animation Library</dt>
    <dd>GSAP</dd>
</dl>
<p>The only portion of that stack that might not make it into a personal project of mine is PostgreSQL because it may not call for a database. I've learned to depend on the above tools and have created wrappers for a couple in order to streamline my common-usage of them.</p>
<p>That being said, I know there are good alternatives and I list the above more as reference to what you can expect from me as opposed to what I expect to be working with at my next job. I am willing to learn any technology that isn't well on its way to becoming obsolete.</p>
