<h2>Twitter API Tester</h2>

<ul class="site-source-listing">
    <li class="site-name">
        Birthday Twitter Stream
    </li>
    <li>
        <a href="http://tweet.mitchsbirfday.com">Website</a>
    </li>
    <li>
        <a href="https://github.com/olsonpm/mitchsbirfday">Source</a>
    </li>
    <li class="site-name">
        Demonstrable Twitter Ticker
    </li>
    <li>
        <a href="http://tweet.philipolsonm.com">Website</a>
    </li>
    <li>
        <a href="https://github.com/olsonpm/tweet-ticker">Source</a>
    </li>
</ul>

<p>After spending so much time learning about web technologies and working on an unfinished longer-term project of mine, I wanted to build something quickly. That sparked mostly when I was reminded of my friend's birthday. The other project was set aside for a day as I created <a href="http://tweet.mitchsbirfday.com/">a twitter feed for all #mitchsbirfday tweets</a>. There were two problems:
</p>

<ol>
    <li>I finally finished the website and made it public around midnight</li>
    <li>The website is only demonstrable with active #mitchsbirfday tweets.</li>
</ol>

<p>Mostly due to #2, I decided the following day to code <a href="http://tweet.philipolsonm.com">this mitchsbirfday offshoot</a>, which is a site I can actually share.
</p>

<p>I was happy with the result of these projects because I was able to learn the twitter api, learn some basic socket.IO programming, and output two (albeit similar) websites in two days. Their user interfaces are clean and personally I find the ticker amusing to watch when setting the keyword to 'kardashian'.</p>
