<h2>Weather Accuracy</h2>
<ul class="site-source-listing">
  <li>
    <a href="https://weather-accuracy-show.herokuapp.com">Here is the website</a>
  </li>
  <li>
    <a href="https://github.com/olsonpm/weather-accuracy">Here is the source</a>
  </li>
</ul>
<p>
  This is a full application with a lot going on.  Simply put, this website gives you the ability to easily compare weather data sources' forecast accuracy.  The link above currently takes you to a version with test data since the real application will need about a month to gather data before it has anything useful.
</p>
<p>
  What's cool about this application from a programming perspective?  The front end utilizes d3, lazy.js, angular, and promises to create both a smooth mobile and desktop experience while still managing a heavy data load.  The backend uses a task to fetch, parse, and store the necessary weather data once daily.  Finally, the rest API allows the front-end to asynchronously grab all that and place it in the options, using model objects shared between the front and backend.
</p>
<p>
  Whew! - it took a while and the result is very cool if I say so myself.
</p>
