$primary: #333;
$primary-slight-light: #555;
$primary-light: lighten($primary, 20);
$fg: white;
$fg-dark: darken($fg, 20);
$secondary: #636BB6;
$secondary-saturated: #0019FF;
$tertiary: #FF9439;
$tertiary-light: #fdc797;
$quaternary: #FFF68B;
$quaternary-light: #FFFCD6;
$bg-average: #d7d7d7;
