<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to my home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <base href="/">
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-app="personalHome" ng-controller="ApplicationController">
    <div class="header-wrapper">
      <div id="nav-btn"></div>
      <h1>Welcome to my home</h1>
    </div>
    <div class="content-wrapper">
      <div class="content" ng-view>
      </div>
    </div><!--
    --><div class="nav-wrapper">
      <nav>
        <div class="section">
          <div class="section-header-wrapper">
            <h3>General</h3>
          </div>
          <div class="link-wrapper" ng-click="navClick('/home')">
            Home
                    <span class="chevron">></span>
          </div>
          <div class="link-wrapper" ng-click="navClick('/contact')">
            Contact
                    <span class="chevron">></span>
          </div>
        </div>
        <div class="section">
          <div class="section-header-wrapper">
            <h3>Projects</h3>
          </div>
          <div class="link-wrapper" ng-click="navClick('/linux-thangs')">
            Linux Thangs
                    <span class="chevron">></span>
          </div>
          <div class="link-wrapper" ng-click="navClick('/my-stack')">
            My Stack
                    <span class="chevron">></span>
          </div>
          <div class="link-wrapper" ng-click="navClick('/misc-music-tool')">
            Misc. Music Tool
                    <span class="chevron">></span>
          </div>
          <div class="link-wrapper" ng-click="navClick('/twitter-api-tester')">
            Twitter API Tester
                    <span class="chevron">></span>
          </div>
          <div class="link-wrapper" ng-click="navClick('/my-node-tools')">
            My Node Tools
                    <span class="chevron">></span>
          </div>
        </div>
      </nav>
    </div>
    <!-- weinre
	
	Command
	  weinre --httpPort 8081 --boundHost 10.0.0.21
	
	Script
	  <script src="http://10.0.0.21:8081/target/target-script-min.js#anonymous"></script>
	
	-->
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
